.categories-container {
  padding: 1rem;
  display: flex;
  overflow-x: scroll;

  .category-card {
    background-color: $titanium-yellow;
    border-radius: 1rem;
    color: $rich-black;
    display: flex;
    width: 400px;
    padding: 1rem;

    .card-image {
      width: max-content;
    }
  }
}
